FORMAT: 1A
HOST: http://lukitomo.com/

# Kareem 

Polls is a simple API allowing consumers to view polls and vote in them.

## ACCOUNTS - BCA Integration [/api/v2/accounts/register-bca-user]

### Register BCA User [POST]

+ Response 200 (application/json)

        {"data":"OK"}

## CONFIG - Error Messages [/api/v2/config/error-messages]

### Get List of Error Messages [GET]

+ Response 200 (application/json)

        {
            "data": {
                "4001": "Mohon periksa kembali koneksi internet anda.",
                "Something went wrong during native playback": "Terjadi kesalahan saat memuat video. Silakan coba beberapa saat lagi.",
                "3100": "Mohon maaf device yang Anda gunakan tidak compatible dengan layanan kami.",
                "3101": "Mohon maaf device yang Anda gunakan tidak compatible dengan layanan kami.",
                "3102": "Mohon maaf device yang Anda gunakan tidak compatible dengan layanan kami.",
                "3103": "Mohon maaf device yang Anda gunakan tidak compatible dengan layanan kami.",
                "3104": "Mohon maaf device yang Anda gunakan tidak compatible dengan layanan kami.",
                "3105": "Mohon maaf device yang Anda gunakan tidak compatible dengan layanan kami.",
                "3106": "Mohon maaf device yang Anda gunakan tidak compatible dengan layanan kami.",
                "3107": "Mohon maaf device yang Anda gunakan tidak compatible dengan layanan kami.",
                "3108": "Mohon maaf device yang Anda gunakan tidak compatible dengan layanan kami.",
                "3109": "Mohon maaf device yang Anda gunakan tidak compatible dengan layanan kami.",
                "3110": "Mohon maaf device yang Anda gunakan tidak compatible dengan layanan kami.",
                "3111": "Mohon maaf device yang Anda gunakan tidak compatible dengan layanan kami.",
                "3112": "Mohon maaf device yang Anda gunakan tidak compatible dengan layanan kami.",
                "4006": "Tayangan hanya tersedia di Indonesia."
            }
        }

## SESSIONS - Heartbeat session check [/api/v2/sessions/heartbeat]

### Heartbeat session check [POST]
+ Request
    + Headers

        Authentication: Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6IjI2MTQxZDQ1ZTYyMjQzNTczMWU1YWJkYTZlOWZiNGRmIn0.eyJhenAiOiJ3SUhHekpoc2V0Iiwic2NvcGUiOiJodHRwczovL2ludGVybmFsLnN1cGVyc29jY2VyLnR2L3VzZXJzL3VzZXJzLnByb2ZpbGUucmVhZCBodHRwczovL2ludGVybmFsLnN1cGVyc29jY2VyLnR2L3N1YnNjcmlwdGlvbnMvdXNlcnMucmVhZC5nbG9iYWwgaHR0cHM6Ly9hcGkuc3VwZXJzb2NjZXIudHYvc3Vic2NyaXB0aW9ucy9zdWJzY3JpcHRpb25zLnJlYWQgaHR0cHM6Ly9hcGkuc3VwZXJzb2NjZXIudHYvb3JkZXJzL29yZGVycy5jcmVhdGUgaHR0cHM6Ly9hcGkuc3VwZXJzb2NjZXIudHYvdmlkZW9zL3ZpZGVvcy5yZWFkIGh0dHBzOi8vYXBpLnN1cGVyc29jY2VyLnR2L29yZGVycy9vcmRlcnMucmVhZCBwYXltZW50bWV0aG9kczpyZWFkLmludGVybmFsIHBheW1lbnRzOnBheW1lbnQuZG9wYXkgdXNlcmRhdGE6cHJlZmVyZW5jZS5yZWFkIHVzZXJkYXRhOnByZWZlcmVuY2UuaW5zZXJ0IiwicnFsIjoiaW5maW5pdGUiLCJpYXQiOjE1NjkyMTEyNDksImV4cCI6MTU2OTQ3MDQ0OSwiYXVkIjoiYXBpLm1vbGEudHYiLCJpc3MiOiJhY2NvdW50cy5tb2xhLnR2Iiwic3ViIjoiTWRIZUM3eTQwZ0FBVUJoamlRMHlwbmFYWE9aZDRaIiwianRpIjoiSjhNY2w4T3lhUDNzUjJRdktiNzB0RGlxQ1RBNnJTbWhEaE9iU3RyOCJ9.NhhWw05FytUIgCB3M3MCldY-WJ9jV4DMku3Dc74jmnNAHSjev5pavEngLICeZAdvfko1gFk8MYpub3MRkXXwwkZOlKOZoyx8RkggYMQGNSWAO__7YZoUH8zxdCdmtsGVuaohuneAnn8_pYv-wTQJaaiAAPgAwQTSaPVEwCPzLAa9nnvR1U8Sww_y-Xt-8J_iSKN9vf5LsyuSqUK8L_AXSDwwzNRil2jRN3ZnkCVcj8YwWma5xYq3wCg35gwOWG2nv_uWppw7u4Vaf-c1Mp0E_SOZyN6vqGrF0jmjGmXAi1ERhOZAYcmB07Ce5i_GbtZRMCxpUQ-lyjfRR2-_98Tykg
        x-device-id: hgurehwclvrkejoigjeopjcmreinwhmvslkd
        x-forwarded-for: 127.0.0.9

+ Response 200 (application/json)

        {
            "data":[{"type":"session","id":"MdHeC7y40gAAUBhjiQ0ypnaXXOZd4Z","attributes":{"status":"ALLOWED","Interval":0}}]
        }

## ACCOUNTS - Get client app by id [/api/v2/accounts/client-app/:id]

### Get List of Error Messages [GET]
+ Request
    parameter id: 74

+ Response 200 (application/json)

        {
            "data": [
                {
                    "type": "client-app",
                    "id": 74,
                    "attributes": {
                        "ID": 74,
                        "AppName": "mola app new",
                        "ClientID": 15,
                        "AppKey": "ULE05LjUNQ",
                        "AppSecret": "1kiv23SdYZncmVtH3FrzHcMjq2093pZnY2Wz4tJAaKDK6JkkEUI0q84G7ypXRpZZ",
                        "RedirectUrls": null,
                        "Roles": "openid",
                        "RequestLimit": "infinity",
                        "Status": 1,
                        "CreatedAt": "2019-09-13T14:52:27Z",
                        "UpdatedAt": "2019-09-13T14:52:27Z",
                        "DeletedAt": null,
                        "Origins": null,
                        "AppID": 2
                    }
                }
            ]
        }

## ACCOUNTS - Insert client app [/api/v2/accounts/client-app]

### Get List of Error Messages [POST]
+ Request
    + data
        {
            "AppName": "mola app new",
            "ClientID": 15,
            "AppKey": "adsa",
            "AppSecret": "1kiv23SdYZncmVtH3FrzHcMjq2093pZnY2Wz4tJAaKDK6JkkEUI0q84G7ypXRpZZ",
            "RedirectUrls": null,
            "Roles": "openid",
            "Origins": null,
            "AppID": 2
        }

+ Response 200 (application/json)

        {
            "data": [
                {
                    "type": "client-app",
                    "id": 77,
                    "attributes": {
                        "ID": 77,
                        "AppName": "mola app new",
                        "ClientID": 15,
                        "AppKey": "adsa",
                        "AppSecret": "1kiv23SdYZncmVtH3FrzHcMjq2093pZnY2Wz4tJAaKDK6JkkEUI0q84G7ypXRpZZ",
                        "RedirectUrls": null,
                        "Roles": "openid",
                        "RequestLimit": null,
                        "Status": 1,
                        "CreatedAt": "2019-09-25T14:00:59.129033+07:00",
                        "UpdatedAt": "2019-09-25T14:00:59.129033+07:00",
                        "DeletedAt": null,
                        "Origins": null,
                        "AppID": 2
                    }
                }
            ]
        }

## ACCOUNTS - Update client app [/api/v2/accounts/client-app]

### Get List of Error Messages [PUT]
+ Request
    update AppID: 5
           AppKey: "qwertyuhgbxdfgbnmnhgfdcvbn"
    + data
        {
            "AppName": "mola app new",
            "ClientID": 15,
            "AppKey": "qwertyuhgbxdfgbnmnhgfdcvbn",
            "AppSecret": "1kiv23SdYZncmVtH3FrzHcMjq2093pZnY2Wz4tJAaKDK6JkkEUI0q84G7ypXRpZZ",
            "RedirectUrls": null,
            "Roles": "openid",
            "Origins": null,
            "AppID": 5,
            "ID" : 77
        }

+ Response 200 (application/json)

        {
            "data": "OK"
        }

## ACCOUNTS - Delete client app by id [/api/v2/accounts/client-app/:id]

### Get List of Error Messages [DELETE]
+ Request
    parameter id: 74

+ Response 200 (application/json)

        {
            "data": "OK"
        }

## ACCOUNTS - Get Profile by tokenize [/api/v2/accounts/client-app/:id]

### Get List of Error Messages [GET]
+ Request
    parameter id: 74

+ Response 200 (application/json)

        {
            "data": "OK"
        }